<div>
  <h3>{{ note.content }}</h3>
  <span class="button is-small is-info" (click)='addHeartToNote(note.hearts)'>
    Like <i class="fa fa-thumbs-up"></i>
  </span>

  <span class="button is-small is-info" (click)='addDislike(note.dislike)'>
    Dislike <i class="fa fa-thumbs-down"></i>
  </span>

  <span class="button is-small is-danger" (click)='deleteNote(note?.id)'>Delete<i class="fa fa-trash"></i></span>
  <p>This note has been liked {{ note.hearts || 0 }} times.</p>
  <p>This note has been disliked {{ note.dislike || 0 }} times.</p>

</div>
